stages:
  - generate:html
  - pre-pack
  - generate:pdf
  - pack

image: docker:stable

variables:
  REPOSITORY_NGINX_INTERMEDIATE: "${CI_REGISTRY_IMAGE}/${CI_COMMIT_REF_SLUG}:intermediate-${CI_COMMIT_SHA}"
  REPOSITORY_NGINX: "${CI_REGISTRY_IMAGE}/${CI_COMMIT_REF_SLUG}:${CI_COMMIT_SHA}"

generate:html:
  stage: generate:html
  image: registry.gitlab.com/pages/hugo:latest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - hugo --baseURL http://site
  artifacts:
    paths:
      - public
  only:
    - master

pre-pack:
  stage: pre-pack
  script:
    - mkdir ~/.docker
    - echo "${CI_JOB_TOKEN}" | docker login -u gitlab-ci-token --password-stdin "${CI_REGISTRY}"
    - docker pull "${NGINX_CONTAINER}"

    - docker build ${DOCKER_BUILD_ARG} --build-arg "NGINX_CONTAINER=${NGINX_CONTAINER}" -t "${REPOSITORY_NGINX_INTERMEDIATE}" -f docker/Dockerfile .
    - docker push "${REPOSITORY_NGINX_INTERMEDIATE}"
  services:
  - name: docker:stable-dind

generate:pdf:
  stage: generate:pdf
  image: alpeware/chrome-headless-trunk
  variables:
    GIT_SUBMODULE_STRATEGY: none
  script:
    - chrome-linux/chrome --headless --no-sandbox --disable-gpu --print-to-pdf=static/cv.pdf http://site
    - hugo
  services:
    - name: "${REPOSITORY_NGINX_INTERMEDIATE}"
      alias: site
  artifacts:
    paths:
    - public
  only:
  - master

pack:
  stage: pack
  script:
    - mkdir ~/.docker
    - echo "${CI_JOB_TOKEN}" | docker login -u gitlab-ci-token --password-stdin "${CI_REGISTRY}"
    - docker pull "${NGINX_CONTAINER}"

    - docker build ${DOCKER_BUILD_ARG} --build-arg "NGINX_CONTAINER=${NGINX_CONTAINER}" -t "${REPOSITORY_NGINX}" -f docker/Dockerfile .
    - docker push "${REPOSITORY_NGINX}"
  services:
    - name: docker:stable-dind