stages:
  - generate:html
  - pre-pack
  - generate:pdf
  - pack
  - deploy

image: docker:stable

variables:
  REPOSITORY_NGINX_INTERMEDIATE: "${CI_REGISTRY_IMAGE}/${CI_COMMIT_REF_SLUG}:intermediate-${CI_COMMIT_SHA}"
  REPOSITORY_NGINX_SITE: "${CI_REGISTRY_IMAGE}/${CI_COMMIT_REF_SLUG}:site-${CI_COMMIT_SHA}"
  REPOSITORY_NGINX: "${CI_REGISTRY_IMAGE}/${CI_COMMIT_REF_SLUG}:${CI_COMMIT_SHA}"

generate:html:
  stage: generate:html
  image: registry.gitlab.com/pages/hugo:latest
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    HUGO_ENV: production
  script:
    - hugo --baseURL http://site -d public_site
    - hugo
  artifacts:
    paths:
      - public
      - public_site
  only:
    - master

pre-pack:
  stage: pre-pack
  variables:
    DOCKER_BUILD_ARG: '--squash'
  script:
    - mkdir ~/.docker
    - echo "${CI_JOB_TOKEN}" | docker login -u gitlab-ci-token --password-stdin "${CI_REGISTRY}"
    - docker pull "${NGINX_CONTAINER}"

    - touch public/jan-trejbal.pdf
    - docker build ${DOCKER_BUILD_ARG} --build-arg "NGINX_CONTAINER=${NGINX_CONTAINER}" -t "${REPOSITORY_NGINX_INTERMEDIATE}" -f docker/Dockerfile .
    - docker push "${REPOSITORY_NGINX_INTERMEDIATE}"

    - docker build ${DOCKER_BUILD_ARG} --build-arg "NGINX_CONTAINER=${NGINX_CONTAINER}" -t "${REPOSITORY_NGINX_SITE}" -f docker/DockerfileSite .
    - docker push "${REPOSITORY_NGINX_SITE}"
  services:
  - name: docker:stable-dind
    command: ["--experimental"]

generate:pdf:
  stage: generate:pdf
  image: alekzonder/puppeteer:latest
  script:
    - mkdir public
    - touch public/jan-trejbal.pdf
    - node generatepdf.js http://site
  services:
    - name: "${REPOSITORY_NGINX_SITE}"
      alias: site
  artifacts:
    paths:
    - public
  only:
  - master

pack:
  stage: pack
  variables:
    DOCKER_BUILD_ARG: '--squash'
  script:
    - mkdir ~/.docker
    - echo "${CI_JOB_TOKEN}" | docker login -u gitlab-ci-token --password-stdin "${CI_REGISTRY}"
    - docker pull "${REPOSITORY_NGINX_INTERMEDIATE}"

    - docker build ${DOCKER_BUILD_ARG} --build-arg "NGINX_CONTAINER=${REPOSITORY_NGINX_INTERMEDIATE}" -t "${REPOSITORY_NGINX}" -f docker/DockerfilePack .
    - docker push "${REPOSITORY_NGINX}"
  services:
    - name: docker:stable-dind
      command: ["--experimental"]

deploy:jerry:
  stage: deploy
  #when: manual
  dependencies: []
  variables:
    GIT_STRATEGY: none
  script:
    - mkdir -p ~/.docker
    - echo "${CI_JOB_TOKEN}" | docker login -u gitlab-ci-token --password-stdin "${CI_REGISTRY}"

    - docker pull "${REPOSITORY_NGINX}"
    - docker tag "${REPOSITORY_NGINX}" "tremi/trejbal.land/jan:active"
    - docker rmi "${REPOSITORY_NGINX}"

    - dc-jan-trejbal up -d

    - docker logout "${CI_REGISTRY}"
  tags:
    - deploy
    - jerry
  only:
    - master
  except:
    - tags
