details {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Fira sans', sans-serif;
}

details summary {
    margin-top: 1.6em;
    margin-bottom: 0.1em;
    font-size: inherit;
}

details summary{
    font-weight: 700;
    color: hsl( 0, 0%,     0%   );
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
}

details{
    margin: 15px 0;
    margin: 0.9375rem 0;
}


details summary{
    font-size: 11.2px;
    font-size: 0.7rem;
}

details{
    font-weight: 200;
}

.main details{
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 0.8em;
}