---
import BaseLayout from '../layouts/BaseLayout.astro';
import Grid from '../components/Grid.astro';
import Column from '../components/Column.astro';
---

<BaseLayout title="Jan Trejbal">
  <h1>Jan Trejbal</h1>
  <p>
    I love to create open software; you can find my work on <a href="https://github.com/trejjam">Github</a>.
    For my work, I frequently used the <a href="https://nette.org/">Nette Framework</a>, but I transferred to <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-5.0">.NET</a> in June 2019.
  </p>

  <Grid>
    <Column class="-span-cols-6 -m-right-2">
      <h2>Professional Experience</h2>
      
      <h6><em>November 2019—Present</em></h6>
      <h3><a href="https://www.aviationexam.com/">Aviationexam</a> — Software developer with a whit of ops</h3>
      <p>I am developing containerized microservice written in .NET 10. They support the needs of React web interface, Android, and iOS application.</p>

      <h6><em>June 2019—Present</em></h6>
      <h3><a href="http://studio12.cz/team.html">Studio 12</a> — Tango Argentino lecturer</h3>
      <p>When I am not next to my computer's keyboard I am usually dancing or helping others with their dance.</p>

      <h6><em>March 2017—November 2019</em></h6>
      <h3><a href="http://scalesoft.cz">Scalesoft</a> — Software developer</h3>
      <p>My main responsibility has been to develop and maintain PHP application in the <a href="https://azure.microsoft.com/">Azure</a>. I have designed whole scalable runtime and CI/CD process on top of the <a href="https://docker.com">Docker</a> technology.</p>
      <p>I changed course to ASP.NET in July 2018. My responsibility is to maintain authorization against external identity providers, communication with external services mainly with government services <a href="https://www.szrcr.cz/cs/informacni-system-zakladnich-registru">ISZR</a>, and general backed development.</p>
      <p>Technology I mastered for production environment:<br />
      PHP 5.6, then PHP 7.2 - Doctrine - Mariadb - NGINX - Docker - Memcached - ASP.NET Core - PostgreSQL</p>

      <h6><em>March 2016—March 2017</em></h6>
      <h3>Czech Academy of Science - C# Software developer</h3>
      <p>Participation on development of portal called <a href="http://vokabular.ujc.cas.cz/informace.aspx?t=ovokabulari&o=ovokabulari">RIDICS</a>. My responsibility was automatic data conversion from linguists into the portal supported format.</p>

      <h6><em>2010—Present</em></h6>
      <h3><a href="http://tremi.cz">TREMI</a> - technical support</h3>
      <p>Maintenance of servers, applications, working stations. Development of a small in house applications.</p>

      <h6><em>2008—2016</em></h6>
      <h3><a href="https://www.ddmliberec.cz/">Dům dětí a mládeže</a> - lecturer</h3>
      <p>Leadership of technical workshops for children. Mainly focused on computers and building electrical circuits.</p>

      <h2>Education</h2>

      <h6><em>2015—2019</em></h6>
      <h3>Engineer of Cybernetics and Robotics</h3>
      <p>My master's thesis is about developing an embedded position sensor with a high density of used items. The firmware is written in C, and high-level data visualization counterpart is written in Golang.</p>
      <p><a href="https://kyr.fel.cvut.cz">Faculty of Electrical engineering</a>, CTU Prague</p>

      <h6><em>2012—2015</em></h6>
      <h3>Bachelor of Cybernetics and Robotics</h3>
      <p><a href="https://kyr.fel.cvut.cz">Faculty of Electrical engineering</a>, CTU Prague</p>

      <h6><em>2007—2012</em></h6>
      <h3>High school diploma in Automation and Communication technology</h3>
      <p><a href="https://web.pslib.cz/">Střední průmyslová škola strojní a elektrotechnická a Vyšší odborná škola</a></p>
    </Column>

    <Column class="-span-cols-4 -p-left-3">
      <h4>Contact</h4>
      <p>
        Email: <a href="mailto:jan@trejbal.land">jan@trejbal.land</a><br />
        Tel: <a href="tel:+420608280353">+420 608280353</a><br />
        Website: <a href="https://jan.trejbal.land">jan.trejbal.land</a><br />
        GitHub: <a href="https://github.com/trejjam">trejjam</a><br />
        Facebook: <a href="https://facebook.com/trejjam">trejjam</a><br />
        Twitter: <a href="https://twitter.com/trejjam">@trejjam</a><br />
        Datová schránka: xrq568r<br />
        PGP key: <a href="https://jan.trejbal.land/key.asc">key.asc</a>
      </p>

      <h5>Business and Billing Information</h5>
      <p>
        Email:&nbsp;<a href="mailto:contact@jantrejbal.cz">contact@jantrejbal.cz</a>
        <br />SIREN:&nbsp;<a href="https://data.inpi.fr/search?q=981729262">981729262</a>
        <br />SIRET:&nbsp;98172926200023
        <br />Intra-Community&nbsp;TVA:&nbsp;FR&nbsp;78981729262
        <br />IBAN:&nbsp;FR76&nbsp;1313&nbsp;5000&nbsp;8008&nbsp;0091&nbsp;4460&nbsp;178
        <br />SWIFT:&nbsp;CEPAFRPP313
      </p>

      <details>
        <summary>Legacy Czech information</summary>
        <p>
          IČ:&nbsp;<a href="https://ares.gov.cz/ekonomicke-subjekty?ico=07992297">07992297</a>
          <br />Datová&nbsp;schránka:&nbsp;2g7yy2m
          <br />Bank&nbsp;account:&nbsp;1370959002/5500
          <br />Bank:&nbsp;Raiffeisenbank a.s.
          <br />IBAN:&nbsp;CZ3955000000001370959002
          <br />SWIFT:&nbsp;RZBCCZPP
        </p>
      </details>

      <h5>Permanent residence</h5>
      <p>
        Ing. Jan Trejbal<br />
        13 Rue Devic<br />
        31400 Toulouse
      </p>

      <h4>Technology used on daily basis</h4>
      <p>.NET Core, Golang, PHP, Typescript, Python, NGINX, SQL, Sass, Docker, Centos, Arch linux</p>

      <h4>Familiar with</h4>
      <p>Node.js, Design PCB, Embedded solutions</p>

      <h4>Other Info</h4>
      <h5>Language:</h5>
      <p>
        Czech: native<br />
        English: B2+<br />
        French: beginner
      </p>
      <h5>Location:</h5>
      <p>I work remotely, currently from Toulouse</p>

      <h2>Hobbies/Interests</h2>
      <p>
        Argentine tango; attended <a href="https://www.youtube.com/watch?v=yK91kXee3wU">the first tango flashmob in Prague</a>, part-time teacher.<br />
        Skiing, wakeboarding, kiting and yachting.
      </p>
    </Column>
  </Grid>
</BaseLayout>
